<div class="row" *ngIf="user">
<div class="col-2">
  <h1><fa-icon [icon]="faUser" class="textLink" style="cursor: pointer;" (click)="toggleEdituser()"></fa-icon> {{user?.firstName}} {{user?.lastName}}</h1>

  <app-edituser *ngIf="editingUser" [editUser]="user"></app-edituser>
</div>
<div class="col-5" *ngIf="user?.ownedProjects">
  <h2>{{user?.firstName}}'s Projects</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of user?.ownedProjects">
        <th scope="row">{{project.id}}</th>
        <td (click)="startProjectView(project)" style="cursor: pointer;">{{project.description}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.estimatedEndDate}}</td>
        <td>{{project.completed}}</td>
      </tr>
    </tbody>
</table>
</div>
<div class="col-5">
  <h2>{{user?.firstName}}'s Tools</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Availability</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tool of user.tools">
        <th scope="row">{{tool.id}}</th>
        <td (click)="startToolView(tool)" style="cursor: pointer;">{{tool.name}}</td>
        <td>{{tool.description}}</td>
        <td>{{tool.availability}}</td>
      </tr>
    </tbody>

  </table>

</div>

</div>

<div class="row" *ngIf="isAdmin">
  <br><hr><br><h2>Admin Tables</h2><br><hr><br>
  <div class="col-4 table-responsive">
    <h3>Users</h3>
    <input type="text" placeholder="Search users..." class="form-control" [(ngModel)]="userSearch">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Username</th>
          <th scope="col">Name</th>
          <th scope="col">Disable</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList | userSearch:userSearch">
          <th scope="row">{{user.id}}</th>
          <td>{{user.username}}</td>
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td><button class="btn btn-danger" (click)="deleteUser(user)"><fa-icon [icon]="faUserSlash"></fa-icon></button></td>
          <td><button class="btn btn-warning"> <fa-icon [icon]="faUserPen"></fa-icon> </button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 table-responsive">
    <h3>Projects</h3>
    <input type="text" placeholder="Search projects..." class="form-control" [(ngModel)]="projectSearch">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Description</th>
          <th scope="col">Start Date</th>
          <th scope="col">Disable</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projectList | projectSearch:projectSearch">
          <th scope="row">{{project.id}}</th>
          <td>{{project.description}}</td>
          <td>{{project.startDate}}</td>
          <td><button class="btn btn-danger" (click)="deleteProject(project)"><fa-icon [icon]="faTrashCan"></fa-icon></button></td>
          <td><button class="btn btn-warning"><fa-icon [icon]="faPenToSquare"></fa-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4 table-responsive">
    <h3>Tools</h3>
    <input type="text" placeholder="Search tools..." class="form-control" [(ngModel)]="toolSearch">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Disable</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tool of toolList | toolSearch:toolSearch">
          <th scope="row">{{tool.id}}</th>
          <td>{{tool.name}}</td>
          <td>{{tool.description}}</td>
          <td><button class="btn btn-danger" (click)="deleteTool(tool)"><fa-icon [icon]="faTrashCan"></fa-icon></button></td>
          <td><button class="btn btn-warning"><fa-icon [icon]="faPenToSquare"></fa-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
