<div class="row">
<div class="col-3">
  <h1><fa-icon [icon]="faUser" class="textLink" style="cursor: pointer;" (click)="toggleEdituser()"></fa-icon> {{user.firstName}} {{user.lastName}}</h1>
  <app-edituser *ngIf="editingUser" [editUser]="user"></app-edituser>
</div>
<div class="col-6" *ngIf="user.ownedProjects">
  <h2>{{user.firstName}}'s Projects</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of user.ownedProjects">
        <th scope="row">{{project.id}}</th><td>{{project.description}}</td>
        <td>{{project.startDate}}</td>
        <td>{{project.estimatedEndDate}}</td>
        <td>{{project.completed}}</td>
      </tr>
    </tbody>
</table>
</div>
<div class="col-3" *ngIf="user.participations">

</div>

</div>
