
<h1><fa-icon [icon]="faToolbox"></fa-icon>  ToolBox </h1>
<div class="row">

<div class="col-lg-9 table-responsive">
  <input type="text" placeholder="Search..." [(ngModel)]="search">

  <div *ngIf="checkLogin()">
    <h3>My Tools</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Available?</th>
            <th scope="col">Training Required</th>
            <th scope="col">Operators</th>
            <th scope="col">Status</th>
            <th scope="col">Condition</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>
          <tr  *ngFor="let tool of toolList | toolSearch:search">
            <th scope="row">{{tool.id}}</th><td>{{tool.name}}</td>
            <td (click)="setUpdate(tool)" style ="cursor:pointer;">{{tool.description}}</td>
            <td>{{tool.available}}</td>
            <td>{{tool.trainingRequired}}</td>
            <td>{{tool.operators}}</td>
            <td>{{tool.status?.name}}</td>
            <td>{{tool.condition?.name}}</td>
            <td><button (click)="destroy(tool)" class="btn btn-danger">X</button></td>
          </tr>
        </tbody>
      </table>
    <br><hr><br>
    </div>

  <h3>All Tools</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Available?</th>
        <th scope="col">Training Required</th>
        <th scope="col">Operators</th>
        <th scope="col">Status</th>
        <th scope="col">Condition</th>
      </tr>
    </thead>

    <tbody>
      <tr   *ngFor="let tool of toolListFull | toolSearch:search">
        <th scope="row">{{tool.id}}</th><td>{{tool.name}}</td>
        <td>{{tool.description}}</td>
        <td>{{tool.available}}</td>
        <td>{{tool.trainingRequired}}</td>
        <td>{{tool.operators}}</td>
        <td>{{tool.status?.name}}</td>
        <td>{{tool.condition?.name}}</td>
      </tr>
    </tbody>

</table>
</div>

<div *ngIf="checkLogin() && !updateChecker?.id" class="col-lg-3">
<form class="form" action="">
  <h3>Add New Tool</h3>
<input type="text"  class="form-control" placeholder="Tool Name" name="name" [(ngModel)]="newTool.name">
<textarea class="form-control" placeholder="Tool Description" name="description" [(ngModel)]="newTool.description"></textarea>
<input type="text"  class="form-control" placeholder="Tool Availability" name="availability" [(ngModel)]="newTool.availability">
<input type="text"  class="form-control" placeholder="Image URL" name="imageUrl" [(ngModel)]="newTool.imageUrl">
<input type="number"  class="form-control" placeholder="Number of Operators" name="operators" [(ngModel)]="newTool.operators">
<label for="available">Available</label>: <input type="checkbox" class="form-check-input" name="avalible" [(ngModel)]="newTool.available"> <br>
<label for="trainingRequired">Training Required</label>: <input type="checkbox" class="form-check-input" name="trainingRequired" [(ngModel)]="newTool.trainingRequired"> <br>
<button class="btn btn-success" title="Add Tool" (click)="createTool(newTool)">Submit</button>
</form>
</div>
<div *ngIf="checkLogin() && updateChecker?.id" class="col-lg-3">
<form class="form" action="">

  <h3 >Update {{updateChecker.name}}</h3>
<input type="text"  class="form-control" placeholder="Tool Name" name="name" [(ngModel)]="updateChecker.name" >
<textarea class="form-control" placeholder="Tool Description" name="description" [(ngModel)]="updateChecker.description"></textarea>
<input type="text"  class="form-control" placeholder="Tool Availability" name="availability" [(ngModel)]="updateChecker.availability">
<input type="text"  class="form-control" placeholder="Image URL" name="imageUrl" [(ngModel)]="updateChecker.imageUrl">
<input type="number"  class="form-control" placeholder="Number of Operators" name="operators" [(ngModel)]="updateChecker.operators">
<label for="available">Available</label>: <input type="checkbox" class="form-check-input" name="avalible" [(ngModel)]="updateChecker.available"> <br>
<label for="trainingRequired">Training Required</label>: <input type="checkbox" class="form-check-input" name="trainingRequired" [(ngModel)]="updateChecker.trainingRequired"> <br>

<button class="btn btn-warning" title="Add Tool" (click)="updateTool(updateChecker.id, updateChecker)">Submit</button>
</form>
</div>
</div>
