<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Available?</th>
      <th scope="col">Training Required</th>
      <th scope="col">Recommend Operators</th>
      <th scope="col">Status</th>
      <th scope="col">Condition</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{tool.id}}</th>
      <td>{{tool.name}}</td>
      <td>{{tool.description}}</td>
      <td>{{tool.available}}</td>
      <td>{{tool.trainingRequired}}</td>
      <td>{{tool.operators}}</td>
      <td>{{tool.status?.name}}</td>
      <td>{{tool.condition?.name}}</td>
      <td><button class="btn btn-danger"><fa-icon [icon]="faCircleXmark"></fa-icon></button></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Requested For</th>
      <th scope="col">Needed By</th>
      <th scope="col">Needed Until</th>
      <th scope="col">Approve</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projectTool of projectToolsOnTool">
      <td >{{projectTool.project?.description}}</td>
      <td >{{projectTool.project?.startDate}}</td>
      <td >{{projectTool.project?.estimatedEndDate}}</td>
      <td >
        <button *ngIf="!projectTool.dateApproved" class="btn btn-success" (click)="approveProjectTool(projectTool)" title="Approve"><fa-icon [icon]="faCheck"></fa-icon></button>
        <button *ngIf="projectTool.dateApproved" class="btn btn-secondary" title="Approved"><fa-icon [icon]="faClock"></fa-icon></button>
        <button class="btn btn-danger" title="Decline"><fa-icon [icon]="faCircleXmark" (click)="deleteProjectTool(projectTool)"></fa-icon></button>
      </td>
    </tr>
  </tbody>
</table>
