<div class="row">
  <div class="col-lg-6">
    <h3>Available Materials</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Add</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let material of materialList">
          <th scope="row">{{material.id}}</th>
          <td (click)="toggleSelected(material)" style="cursor:pointer;">{{material.name}}</td>
          <td>{{material.description}}</td>
          <td><button class="btn btn-success" (click)="toggleSelected(material)"><fa-icon [icon]="faPlus"></fa-icon></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6">
    <app-project-material *ngIf="addProjectMaterial" [projectMaterial]="selected"></app-project-material>
  </div>
</div>

