<div class="row">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faMagnifyingGlass"></fa-icon> </span>
<input class="form-control" type="text" placeholder="Search..." [(ngModel)]="search">
</div>

<h1>Projects</h1>

<h6><a [routerLink]="['/projectView']">Add a new Project</a></h6>

<div class="col-lg-9 table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>


    <tbody>
      <tr *ngFor="let project of projects | projectSearch:search">
        <th scope="row">{{project.id}}</th>
        <td (click)="setSelected(project)" style ="cursor:pointer;">{{project.description}} </td>
        <td>{{project.startDate}}</td>
        <td>{{project.estimatedEndDate}}</td>
        <td>{{project.completed}}</td>
        <td>{{project.owner?.firstName}} {{project.owner?.lastName}}</td>
      </tr>
    </tbody>
</table>
<hr><br>


</div>
<div class="col-lg-3">
  <form class="form" *ngIf="selected">

    <h3>Tool List</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Availability</th>
          <th scope="col">Training Required</th>
          <th scope="col">Operators</th>
          <th scope="col">Status</th>
          <th scope="col">Condition</th>
          <th scope="col">Add to Project</th>
        </tr>
      </thead>

      <tbody>
        <tr   *ngFor="let tool of toolListFull | toolSearch:search">
          <th scope="row">{{tool.id}}</th><td>{{tool.name}}</td>
          <td>{{tool.description}}</td>
          <td>{{tool.availability}}</td>
          <td>{{tool.trainingRequired}}</td>
          <td>{{tool.operators}}</td>
          <td>{{tool.status?.name}}</td>
          <td>{{tool.condition?.name}}</td>
          <button class="btn btn-success" title="Add Tool">Add</button>
        </tr>
      </tbody>
  </table>

    <h3>Update</h3>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Description</span>
          <textarea class="form-control" text="text" name="description" [(ngModel)]="selected.description" ></textarea>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Start Date</span>
          <input class="form-control" type="date" name="startDate"  [(ngModel)]="selected.startDate">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">End Date</span>
          <input class="form-control" type="date" name="estimatedEndDate"  [(ngModel)]="selected.estimatedEndDate">
        </div>

        <label for="trainingRequired">Completed</label>: <input type="checkbox" class="form-check-input" name="compelted" [(ngModel)]="selected.completed"> <br> <br>

        <button class="btn btn-warning" (click)="updateProject(selected.id, selected)" >Submit</button><br><br>

        <button class="btn btn-danger" (click)="deleteProject(selected)" >Delete</button>
      </form>
  </div>

</div>
