<div class="row">



  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1"><fa-icon [icon]="faMagnifyingGlass"></fa-icon> </span>
    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="search">
  </div>


  <h1>Projects <span [ngClass]="checkProjectLevel()"> {{getNumProject()}} </span> </h1>

  <h6><a [routerLink]="['/projectView']">Add a new Project</a></h6>

  <div class="col-lg-9 table-responsive">
    <table class="table" *ngIf="!participantProject">

      <thead>
        <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Owner</th>
        <th scope="col">Request</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of fullProjects | projectSearch:search">
        <th scope="row">{{project.id}}</th>
        <td (click)="setSelected(project)" style ="cursor:pointer;">{{project.description}} </td>
        <td>{{project.startDate}}</td>
        <td>{{project.estimatedEndDate}}</td>
        <td>{{project.completed}}</td>
        <td>{{project.owner?.firstName}} {{project.owner?.lastName}}</td>
        <td *ngIf="!projectContains(project)" (click)="addPartRequest(project)"><button class="btn btn-success"><fa-icon [icon]="faPlusCircle"></fa-icon></button></td>
        <td *ngIf="projectContains(project)" (click)="viewParticipant(project)"><button class="btn btn-info"><fa-icon [icon]="faEye"></fa-icon></button></td>
      </tr>
    </tbody>
</table>
<button class="btn btn-warning" *ngIf="participantProject" (click)="addPartRequest(participantProject)">Back</button>
<app-participant *ngIf="participantProject" [participant]="participant"></app-participant>
<hr><br>


</div>
<br>
<div class="col-lg-3">
  <form class="form" *ngIf="selected">

    <h3>Update</h3>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Description</span>
      <textarea class="form-control" text="text" name="description" [(ngModel)]="selected.description" ></textarea>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Start Date</span>
      <input class="form-control" type="date" name="startDate"  [(ngModel)]="selected.startDate">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">End Date</span>
          <input class="form-control" type="date" name="estimatedEndDate"  [(ngModel)]="selected.estimatedEndDate">
        </div>

        <label for="trainingRequired">Completed</label>: <input type="checkbox" class="form-check-input" name="compelted" [(ngModel)]="selected.completed"> <br> <br>

        <button class="btn btn-warning" (click)="updateProject(selected.id, selected)" >Submit</button><br><br>

        <button class="btn btn-danger" (click)="deleteProject(selected)" >Delete</button><br><br><hr>
      </form>
  </div>

</div>

<div class="row">
<div class="col-lg-9">
  <table class="table" *ngIf="!inspect">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of fullProjects | owner:user">
        <th scope="row">{{project.id}}</th>
        <td (click)="toggleInspect(project)" style ="cursor:pointer;">{{project.description}} </td>
        <td>{{project.startDate}}</td>
        <td>{{project.estimatedEndDate}}</td>
        <td>{{project.completed}}</td>
        <td>{{project.owner?.firstName}} {{project.owner?.lastName}}</td>
      </tr>
    </tbody>
</table>
<button *ngIf="inspect" class="btn btn-warning" (click)="toggleInspect(inspect)">Back</button>
<app-inspect-project *ngIf="inspect" [project]="inspect"></app-inspect-project>
</div>
<div class="col-lg-3">

</div>

</div>
